<title>cbgAds 监控模块</title>
<meta name="description" content="cbg广告系统监控模块，使用 DP 前端数据统计分析平台" />
<script>
void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);

alog('speed.set', 'ht', +new Date);

void function (e, t) { for (var n = t.getElementsByTagName("img"), a = +new Date, i = [], o = function () { this.removeEventListener && this.removeEventListener("load", o, !1), i.push({ img: this, time: +new Date }) }, s = 0; s < n.length; s++) !function () { var e = n[s]; e.addEventListener ? !e.complete && e.addEventListener("load", o, !1) : e.attachEvent && e.attachEvent("onreadystatechange", function () { "complete" == e.readyState && o.call(e, o) }) }(); alog("speed.set", { fsItems: i, fs: a }) }(window, document);

window.alogObjectConfig = {
    product: '620',
    page: '620_9',
    monkey_page: '',
    speed_page: '',
    speed: {
        sample: '1',
        custom_metrics: ['c_001', 'c_002', 'c_003']
    },
    monkey: {
        sample: '1'
    },
    // 自定义事件，详见‘帮助文档’------------------------------------------------------------
    cus: {
        sample: '1'
    },
    exception: {
        sample: '1'
    },
};
void function (e, t, n, a, r, o) { function c(t) { e.attachEvent ? e.attachEvent("onload", t, !1) : e.addEventListener && e.addEventListener("load", t) } function i(e, n, a) { a = a || 15; var r = new Date; r.setTime((new Date).getTime() + 1e3 * a), t.cookie = e + "=" + escape(n) + ";path=/;expires=" + r.toGMTString() } function s(e) { var n = t.cookie.match(new RegExp("(^| )" + e + "=([^;]*)(;|$)")); return null != n ? unescape(n[2]) : null } function d() { var e = s("PMS_JT"); if (e) { i("PMS_JT", "", -1); try { e = eval(e) } catch (n) { e = {} } e.r && t.referrer.replace(/#.*/, "") != e.r || alog("speed.set", "wt", e.s) } } c(function () { alog("speed.set", "lt", +new Date), r = t.createElement(n), r.async = !0, r.src = a + "?v=" + ~(new Date / 864e5), o = t.getElementsByTagName(n)[0], o.parentNode.insertBefore(r, o) }), d() }(window, document, "script", "http://img.baidu.com/hunter/alog/dp.min.js");
</script>